/*

Your styles go here!

Hint! You'll probably want to start by styling:
 * <body>
 * <article>
 * <h1>
 * <img>

 I've left some boilerplate below for you.

 */

@import url(http://weloveiconfonts.com/api/?family=zocial);

body {
}

.row {
  text-align: center;
  width: 800px;
  margin: 0 auto;
}

article {
  width: 100%;
  border-bottom: 1px solid black;
}

svg {
  width: 4.5em;
  height: 5em;
}

h1 {
  padding: 20px;
  margin: 0 auto;
}

img {
  margin: 0 auto;
  max-width: 100%;
}

footer ul{
  padding: 0;
}

footer li{
  list-style: none;
  display: inline;
}

[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
  text-shadow: 3px 3px 3px #aaa;
  font-size: 2em;
  padding: 10px;
}

footer a[class*="zocial-"] {
  color: #34495e;
  text-decoration: none;
}

footer a[class*="zocial-"]:hover {
  color: #16a085;
}
